In [12]:
import pandas as pd
import os

path = os.path.join('..', 'dev', 'db_creation', 'table_making.csv')
df = pd.read_csv(path, index_col=0)

In [13]:
df[['street_number', 'street_name']] = df.qAddress.str.split(' ', n=1, expand=True)
df = df[['street_number', 'street_name', 'qSpecies']]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174480 entries, 121399 to 15238
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   street_number  174478 non-null  object
 1   street_name    174478 non-null  object
 2   qSpecies       174480 non-null  int64
dtypes: int64(1), object(2)
memory usage: 5.3+ MB

In [16]:
df = df.astype({'street_number': 'int64'}).sort_values(['street_name', 'street_number']).dropna()

In [19]:
df.loc[df.street_name == 'san jose ave']

        street_number   street_name  qSpecies
TreeID
39786              50  san jose ave        31
39791              50  san jose ave        35
39780              50  san jose ave        31
39789              50  san jose ave        31
39790              50  san jose ave       275
...               ...           ...       ...
93576            2998  san jose ave        30
93577            2998  san jose ave        80
93574            2998  san jose ave        80
254876           3100  san jose ave         2
254878           3156  san jose ave         2

[1124 rows x 3 columns]

In [20]:
import json

address_path = os.path.join('..', 'dev', 'SF_Addresses.csv')
addresses = pd.read_csv(address_path)
addresses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223358 entries, 0 to 223357
Data columns (total 21 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   EAS BaseID                    223358 non-null  int64
 1   Address                       223358 non-null  object
 2   Address Number                223358 non-null  int64
 3   Address Number Suffix         4604 non-null    object
 4   Street Name                   223358 non-null  object
 5   Street Type                   222362 non-null  object
 6   ZIP Code                      223358 non-null  int64
 7   CNN                           223358 non-null  int64
 8   Longitude                     223358 non-null  float64
 9   Latitude                      223358 non-null  float64
 10  point                         223358 non-null  object
 11  supdist                       223358 non-null  object
 12  supervisor                    223358 non-null  int64
 13  supdistpad                    223358 non-null  int64
 14  numbertext                    223358 non-null  object
 15  supname                       223358 non-null  object
 16  nhood                         223358 non-null  object
 17  SF Find Neighborhoods         223319 non-null  float64
 18  Current Police Districts      222511 non-null  float64
 19  Current Supervisor Districts  223318 non-null  float64
 20  Analysis Neighborhoods        223306 non-null  float64
dtypes: float64(6), int64(6), object(9)
memory usage: 35.8+ MB