Making sql tables: one with addresses and one with species/urlPaths

In [2]:
import pandas as pd
import sqlite3
import os

address_path = os.path.join('..', 'dev', 'Cleaned_Street_Tree_list.csv')
addresses = pd.read_csv(address_path, index_col=0)
addresses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174480 entries, 121399 to 15238
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   qSpecies   174480 non-null  object
 1   qAddress   174480 non-null  object
 2   SiteOrder  174480 non-null  int64
 3   qSiteInfo  174480 non-null  object
dtypes: int64(1), object(3)
memory usage: 6.7+ MB

In [124]:
tree_list = addresses    
tree_list.qAddress = tree_list.qAddress.str.lower()

split_street_names = tree_list.qAddress.str.split(' ', n=1, expand=True).rename({0: 'street_number', 1: 'street_name'},
                                                                              axis=1) 
split_street_names.street_number = split_street_names.street_number.str.extract(r'(^[0-9]+)', expand=False)
split_street_names.street_name = split_street_names.street_name.dropna().str.replace(r'\b(revised|\(revised\))\b', '').str.strip()
tree_list.qAddress = split_street_names.street_number.str.cat(split_street_names.street_name, ' ')
tree_list

C:\Users\Prog\AppData\Local\Temp\ipykernel_15700\2050067751.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  split_street_names.street_name = split_street_names.street_name.dropna().str.replace(r'\b(revised|\(revised\))\b', '').str.strip()

,qAddress,qSpecies,SiteOrder
TreeID,,,
121399,349 cargo way,Corymbia ficifolia :: Red Flowering Gum,1
251210,1170 ingalls st,Eucalyptus polyanthemos :: Silver Dollar Eucal...,2
255131,401 brotherhood way,Corymbia ficifolia :: Red Flowering Gum,9
255229,300 goettingen st,Lophostemon confertus :: Brisbane Box,4
251438,2501 santiago st,Cupressus macrocarpa :: Monterey Cypress,1
...,...,...,...
231,2975 19th ave,Platanus x hispanica :: Sycamore: London Plane,2
92652,2201 baker st,Azara microphylla :: Little-Leaf Azara,18
108942,115 prospect ave,Arbutus 'Marina' :: Hybrid Strawberry Tree,1
143411,1244 market st,Platanus x hispanica :: Sycamore: London Plane,1
15238,1339 mission st,Lophostemon confertus :: Brisbane Box,1

In [3]:
addresses = addresses.loc[:,['qAddress','qSpecies', 'SiteOrder']].astype({'qAddress': 'string', 'SiteOrder': 'uint16'})
addresses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174480 entries, 121399 to 15238
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   qAddress   174480 non-null  string
 1   qSpecies   174480 non-null  object
 2   SiteOrder  174480 non-null  uint16
dtypes: object(1), string(1), uint16(1)
memory usage: 4.3+ MB

In [15]:
address_species = set(addresses.qSpecies.tolist())

In [81]:
%%timeit
addresses.loc[addresses.qAddress.str.lower() == '1470 valencia st', 'qSpecies'].item()

44.7 ms ± 1.41 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [18]:
species_path = os.path.join('..','dev','mapped_species.csv' )
species = pd.read_csv(species_path, index_col=0)
species.head()

                                            qSpecies  urlPath
0            Corymbia ficifolia :: Red Flowering Gum      540
1  Eucalyptus polyanthemos :: Silver Dollar Eucal...      561
2              Lophostemon confertus :: Brisbane Box     1425
3           Cupressus macrocarpa :: Monterey Cypress      476
4                 Jacaranda mimosifolia :: Jacaranda      741

In [19]:
species_with_keys = set(species.qSpecies.tolist())
address_species.difference(species_with_keys)

set()

In [191]:
species_dict = species.reset_index().set_index('qSpecies').drop('urlPath', axis=1).to_dict()['index']
species_dict

{'Corymbia ficifolia :: Red Flowering Gum': 0,
 'Eucalyptus polyanthemos :: Silver Dollar Eucalyptus': 1,
 'Lophostemon confertus :: Brisbane Box': 2,
 'Cupressus macrocarpa :: Monterey Cypress': 3,
 'Jacaranda mimosifolia :: Jacaranda': 4,
 'Acacia decurrens :: Acacia: Silver Wattle': 5,
 'Pyrus kawakamii :: Evergreen Pear': 6,
 'Melaleuca spp :: Melaleuca spp': 7,
 'Eriobotrya japonica :: Edible Loquat': 8,
 'Platanus x hispanica :: Sycamore: London Plane': 9,
 "Acacia baileyana :: Bailey's Acacia": 10,
 'Prunus cerasifera :: Cherry Plum': 11,
 'Pinus Spp :: Pine Spp': 12,
 'Pinus radiata :: Monterey Pine': 13,
 'Eucalyptus sideroxylon :: Red Ironbark': 14,
 'Acacia melanoxylon :: Blackwood Acacia': 15,
 'Lyonothamnus floribundus subsp. asplenifolius :: Santa Cruz Ironwood': 16,
 'Acer spp :: Maple': 17,
 'Pittosporum undulatum :: Victorian Box': 18,
 'Eucalyptus globulus :: Blue Gum': 19,
 'Acacia longifolia :: Golden Wattle': 20,
 'Eucalyptus Spp :: Eucalyptus': 21,
 'Pinus pinea :: Italian Stone Pine': 22,
 'Olea europaea :: Olive Tree': 23,
 'Liquidambar styraciflua :: American Sweet Gum': 24,
 'Phoenix canariensis :: Canary Island Date Palm': 25,
 'Tristaniopsis laurina :: Swamp Myrtle': 26,
 'Quercus agrifolia :: Coast Live Oak': 27,
 'Pyrus calleryana :: Ornamental Pear': 28,
 'Pseudotsuga menziesii :: Douglas Fir': 29,
 'Metrosideros excelsa :: New Zealand Xmas Tree': 30,
 'Magnolia grandiflora :: Southern Magnolia': 31,
 'Sequoia sempervirens :: Coast Redwood': 32,
 'Prunus blireiana :: Flowering Plum': 33,
 "Fraxinus velutina 'Glabra' :: Arizona Ash": 34,
 'Arecastrum romanzoffianum :: Queen Palm': 35,
 'Cordyline australis :: Dracena Palm': 36,
 'Cedrus deodara :: Deodar Cedar': 37,
 'Salix spp :: Willow': 38,
 'Acacia spp :: Acacia Spp': 39,
 'Acer rubrum :: Red Maple': 40,
 'Cedrus atlantica Glauca :: Blue Atlas Cedar': 41,
 "Populus nigra 'Italica' :: Lombardy Poplar": 42,
 'Prunus amygdalus :: Almond': 43,
 'Cupressocyparis leylandii :: Leyland Cypress': 44,
 'Geijera parviflora :: Australian Willow': 45,
 'Afrocarpus gracilior :: Fern Pine': 46,
 'Schinus terebinthifolius :: Brazilian Pepper': 47,
 'Prunus spp :: Cherry': 48,
 "Eucalyptus nicholii :: Nichol's Willow-Leafed Peppermint": 49,
 'Ulmus parvifolia :: Chinese Elm': 50,
 'Sequoiadendron giganteum :: Sierra Redwood': 51,
 'Acacia stenophylla :: Shoestring Acacia': 52,
 "Pyrus calleryana 'Chanticleer' :: Ornamental Pear Tree 'Chanticleer'": 53,
 'Rhamnus alaternus :: Italian Buckthorn': 54,
 "Acer rubrum 'Armstrong' :: Armstrong Red Maple": 55,
 'Syzygium paniculatum :: Brush Cherry': 56,
 "Arbutus 'Marina' :: Hybrid Strawberry Tree": 57,
 'Prunus serrulata :: Ornamental Cherry': 58,
 'Maytenus boaria :: Mayten': 59,
 'Quercus spp :: Oak': 60,
 'Eriobotrya deflexa :: Bronze Loquat': 61,
 'Tilia cordata :: Littleleaf Linden': 62,
 'Melaleuca quinquenervia :: Cajeput': 63,
 "Tristaniopsis laurina 'Elegant' :: Small-leaf Tristania 'Elegant'": 64,
 "Leptospermum scoparium  'Helene Strybing' :: Helene Strybing New Zealand Tea Tree": 65,
 'Pinus canariensis :: Canary Island Pine': 66,
 'Juniperus chinensis :: Juniper': 67,
 'Crataegus phaenopyrum :: Washington Hawthorn': 68,
 'Ulmus pumila :: Siberian Elm': 69,
 'Myoporum laetum :: Myoporum': 70,
 'Arbutus unedo :: Strawberry Tree': 71,
 'Malus :: Crab Apple': 72,
 'Ficus nitida :: Laurel Fig': 73,
 'Robinia pseudoacacia :: Black Locust': 74,
 "Pyrus calleryana 'Aristocrat' :: Aristocrat Callery Pear": 75,
 'Ilex spp :: Holly Species': 76,
 'Schinus molle :: California Pepper': 77,
 'Ligustrum lucidum :: Glossy Privet': 78,
 "Prunus serrulata 'Kwanzan' :: Kwanzan Flowering Cherry": 79,
 "Olea europaea 'Fruitless' :: Fruitless Olive": 80,
 'Pittosporum crassifolium :: Karo Tree': 81,
 "Rhaphiolepis Majestic Beauty :: Indian Hawthorn  'Majestic Beau'": 82,
 "Magnolia grandiflora 'Samuel Sommer' :: Samuel Sommer Magnolia": 83,
 'Pittosporum tenuifolium :: Tawhiwhi Pittosporum': 84,
 'Ginkgo biloba :: Maidenhair Tree': 85,
 'Pittosporum eugenioides :: Tarata': 86,
 'Ceanothus thyrsiflorus :: Blueblossom Ceanothus': 87,
 "Olea europaea 'Wilsonii' :: Wilson Olive Semi-fruitless": 88,
 "Magnolia x soulangiana 'Rustica Rubra' :: Chinese Magnolia": 89,
 'Quercus ilex :: Holly Oak': 90,
 "Olea europaea 'Majestic Beauty' :: Majestic Beauty Fruitless Olive": 91,
 'Leptospermum scoparium :: New Zealand Tea Tree': 92,
 'Acer palmatum :: Japanese Maple': 93,
 "Ficus microcarpa nitida 'Green Gem' :: Indian Laurel Fig Tree 'Green Gem'": 94,
 'Lithocarpus densiflorus :: Tan Oak': 95,
 'Ceratonia siliqua :: Carob': 96,
 'Araucaria heterophylla :: Norfolk Island Pine': 97,
 'Melaleuca ericifolia :: Heath Melaleuca': 98,
 "Platanus x hispanica 'Yarwood' :: Yarwood Sycamore": 99,
 "Ceanothus 'Ray Hartman' :: California Lilac 'Ray Hartman'": 100,
 'Ficus microcarpa :: Chinese Banyan': 101,
 'Melaleuca nesophila :: Pink Melaleuca': 102,
 'Cupressus sempervirens :: Italian Cypress': 103,
 'Magnolia spp :: Magnolia': 104,
 'Citrus spp :: Lemon: Orange: Lime': 105,
 'Brugmansia spp :: Angel trumpet': 106,
 'Lagunaria patersonii :: Primrose Tree': 107,
 'Washingtonia filifera :: California Fan Palm': 108,
 'Koelreuteria paniculata :: Golden Rain Tree': 109,
 'Cinnamomum camphora :: Camphor Tree': 110,
 'Tristania conferta ::': 111,
 'Chamaerops humilis :: Mediterranean Fan Palm': 112,
 "Liquidambar styraciflua 'Rotundiloba' :: Roundleaf sweetgum": 113,
 'Ficus retusa nitida :: Banyan Fig': 114,
 'Betula pendula :: European White Birch': 115,
 'Cotoneaster SPP :: Cotoneaster': 116,
 'Fraxinus spp :: Ash Spp': 117,
 "Prunus domestica 'Mariposa' :: Mariposa Plum": 118,
 'Crataegus laevigata :: English Hawthorn': 119,
 'Cupaniopsis anacardioides :: Carrotwood': 120,
 'Fraxinus uhdei :: Shamel Ash: Evergreen Ash': 121,
 'Callistemon citrinus :: Lemon Bottlebrush': 122,
 "Gleditsia triacanthos 'Sunburst' :: Sunburst Honey Locust": 123,
 'Ulmus americana :: American Elm': 124,
 'Photinia fraseri :: Photinia: Chinese photinia': 125,
 "Acer rubrum 'Red Sunset' :: Red Swamp Maple": 126,
 'Washingtonia robusta :: Mexican Fan Palm': 127,
 "Acer rubrum 'October Glory' :: Red October Glory Maple": 128,
 "Ginkgo biloba 'Autumn Gold' :: Ginkgo: Autumn Gold": 129,
 'Pistacia chinensis :: Chinese Pistache': 130,
 "Laurus x 'Saratoga' :: Hybrid Laurel": 131,
 'Leptospermum laevigatum :: Australian Tea Tree': 132,
 'Quercus suber :: Cork Oak': 133,
 "Magnolia grandiflora 'Little Gem' :: Little Gem Magnolia": 134,
 'Laurus nobilis :: Sweet Bay: Grecian Laurel': 135,
 'Griselinia lucida :: Griselinia': 136,
 'Aesculus californica :: California Buckeye': 137,
 'Cassia leptophylla :: Gold Medallion Tree': 138,
 'Agonis flexuosa :: Peppermint Willow': 139,
 "Zelkova serrata 'Village Green' :: Village Green Zelkova": 140,
 'Podocarpus gracilor :: Fern Pine': 141,
 'Banksia integrifolia :: Coast Banksia': 142,
 'Koelreuteria bipinnata :: Chinese Flame Tree': 143,
 'Ilex aquifolium :: European Holly': 144,
 'Persea americana :: Avocado': 145,
 'Chamaecyparis lawsoniana :: Port Orford Cedar': 146,
 'Archontophoenix cunninghamiana :: King Palm': 147,
 'Magnolia champaca :: Champa': 148,
 'Leucodendron argenteum :: Silver Tree': 149,
 'Yucca gloriosa :: Spanish Dagger': 150,
 "Metrosideros excelsa 'Aurea' ::": 151,
 'Olea Majestic Beauty ::': 152,
 'Acer buergeranum :: Trident Maple': 153,
 'Schinus polygamus :: Chilean pepper tree': 154,
 'Melaleuca linariifolia :: Flaxleaf Paperbark': 155,
 'Magnolia x soulangiana :: Saucer Magnolia': 156,
 'Ulmus spp :: Elm Spp': 157,
 'Zelkova serrata :: Sawleaf Zelkova': 158,
 'Liriodendron tulipifera :: Tulip Tree': 159,
 "Eriobotrya deflexa 'Coppertone' :: Coppertone Loquat": 160,
 "Cornus nuttallii x florida 'Eddie's White Wonder' :: Eddie's White Wonder Dogwood": 161,
 'Yucca spp :: Yucca': 162,
 'Syagrus romanzoffianum :: Queen Palm': 163,
 'Trachycarpus fortunei :: Windmill Palm': 164,
 'Cassia excelsa :: Crown of Gold Tree': 165,
 "Prunus cerasifera 'Krauter vesuvius' :: Purple Leaf Plum Krauter Vesuvius": 166,
 'Taxus baccata :: Irish Yew': 167,
 'Hymenosporum flavum :: Sweetshade': 168,
 'Eucalyptus camaldulensis :: River Red Gum': 169,
 "Prunus domestica 'Green Gage' :: Green Gage Plum": 170,
 'Celtis sinensis :: Chinese Hackberry': 171,
 "Prunus cerasifera 'Atropurpurea' :: Purple-Leaf Plum": 172,
 'Acacia dealbata :: Silver Wattle': 173,
 'Podocarpus macrophyllus :: Yew Pine': 174,
 'Acer japonicum :: Japanese Maple': 175,
 'Phoenix dactylifera :: Date Palm': 176,
 'Celtis australis :: European Hackberry': 177,
 'Elaeocarpus decipiens :: Japanese Blueberry Tree': 178,
 "Ulmus parvifolia 'Drake' :: Drake's Chinese Elm": 179,
 'Ficus laurel ::': 180,
 'Tilia tomentosa :: Silver Linden': 181,
 "Aesculus x carnea 'Briotii' :: Ruby Horse Chestnut": 182,
 "Magnolia grandiflora 'Saint Mary' :: Saint Mary Magnolia": 183,
 'Palm (unknown Genus) :: Palm Spp': 184,
 "Pyrus x 'Bartlett' :: Bartlett Pear": 185,
 'Quercus wislizenii :: Interior Live Oak': 186,
 "Maytenus boaria 'Green Showers' :: Meyten Tree 'Green Showers'": 187,
 'Chionanthus retusa :: Chinese Fringe Tree': 188,
 "Platanus x hispanica 'Columbia' :: Columbia Hybrid Plane Tree": 189,
 'Aesculus x carnea :: Red Horse Chestnut': 190,
 'Magnolia doltsopa :: Himalayan Magnolia': 191,
 "Ginkgo biloba 'Princeton Sentry' :: Princeton Sentry Maidenhair": 192,
 "Olea europaea 'Swan Hill' :: Olive": 193,
 "Ulmus 'Prospector' :: Prospector Elm": 194,
 "Agonis flexuosa 'After Dark' :: Peppermint willow 'After Dark'": 195,
 "Acer rubrum 'Autumn Glory' :: Red Maple Tree 'Autumn Glory'": 196,
 'Malus sylvestris :: Apple': 197,
 'Myrica californica :: Pacific Wax Myrtle Tree': 198,
 'Callistemon viminalis :: Weeping Bottlebrush': 199,
 'Tilia spp :: Linden': 200,
 'Cedrus atlantica :: Atlas Cedar': 201,
 "Ginkgo biloba 'Autumn Sentinel' :: Autumn Sentinel Ginkgo": 202,
 'Quercus tomentella :: Island oak': 203,
 "Punica granatum 'Wonderfu :: Pomegranate Tree 'Wonderful'": 204,
 'Ceiba speciosa :: Silk floss': 205,
 'Syzygium australe :: Eugenia': 206,
 'Betula spp :: Birch': 207,
 "Fraxinus oxycarpa 'Raywood' :: Raywood Ash": 208,
 "Pyrus calleryana 'Bradford' :: Ornamental Pear: Bradford": 209,
 'Lagerstroemia indica :: Crape Myrtle': 210,
 'Dodonaea viscosa :: Hop Bush': 211,
 'Ligustrum japonicum :: Japanese Privet': 212,
 'Acer x freemanii :: Freeman Maple': 213,
 "Prunus subhirtella 'Pendula' :: Weeping Cherry": 214,
 'Pittosporum spp :: Pittosporum spp': 215,
 'Pittosporum tobira :: Japanese Mockorange': 216,
 'Alnus rhombifolia :: White Alder': 217,
 'Cercis occidentalis :: Western Redbud': 218,
 'Calocedrus decurrens :: Incense Cedar': 219,
 'Photinia fraseri :: Photinia Tree': 220,
 'Ceanothus Sps :: California lilac': 221,
 "Magnolia grandiflora 'Russet' :: Russet Magnolia": 222,
 'Eucalyptus citriodora :: Lemon scented eucalyptus': 223,
 'Rhus lancea :: African Sumac': 224,
 'Aesculus hippocastanum :: White Horsechestnut': 225,
 'Styrax japonicus :: Japanese Snowdrop Tree': 226,
 'Umbellularia californica :: California Bay': 227,
 'Cercis canadensis :: Eastern Redbud': 228,
 'Pinus halepensis :: Allepo Pine': 229,
 "Grevillea 'Red Hooks' :: Silk Oak Tree 'Red Hooks'": 230,
 "Tilia americana 'Redmond' :: Redmond Linden": 231,
 'Brahea edulis :: Guadalupe Palm': 232,
 'Pinus thunbergii :: Japanese Black Pine': 233,
 "Ulmus carpinifolia 'Frontier' :: Frontier Elm 'Frontier'": 234,
 'Morus alba :: White Mulberry': 235,
 'Nerium oleander :: Oleander': 236,
 'Albizia julibrissin :: Mimosa Silk Tree': 237,
 "Dodonaea viscosa 'Purpurea' :: Purple Hopseed Bush": 238,
 'Melaleuca styphelliodes :: Paperbark Tree': 239,
 'Acacia cognata :: River Wattle': 240,
 'Alnus cordata :: Italian Alder': 241,
 'Acer saccharinum :: Silver Maple': 242,
 'Syringa :: Lilac Tree': 243,
 "Magnolia grandiflora 'D.D. Blanchard' :: D.D. Blanchard Southern Magnolia": 244,
 'Hakea suaveolens :: Sweet Hakea Tree': 245,
 'Tibochina urvilleana :: Princess Flower': 246,
 'Prunus x yedoensis :: Yoshino Cherry': 247,
 'Quercus virginiana :: Southern Live Oak': 248,
 'Crateagus spp :: Hawthorn': 249,
 "Magnolia grandiflora 'Majestic Beauty' :: Majestic Beauty Magnolia": 250,
 'Ficus Spp. ::': 251,
 'Fremontodendron spp :: Flannel Bush Tree': 252,
 'Carpinus betulus :: European Hornbeam': 253,
 'Gleditsia triacanthos :: Honey Locust': 254,
 "Robinia x ambigua 'Purple Robe' :: Purple Robe Locust": 255,
 "Ilex altaclarensis 'Wilsonii' :: Wilson Holly Tree": 256,
 'Grevillea spp :: Silkoak species': 257,
 "Thuja occidentalis 'Emerald' :: Emerald Arborvitae": 258,
 'Casuarina cunninghamiana :: Horsetail pine': 259,
 'Quercus robur :: English Oak': 260,
 'Metrosideros spp ::': 261,
 "Acer palmatum 'Bloodgood' :: Bloodgood Japanese Maple": 262,
 'Platanus racemosa :: California Sycamore': 263,
 'Quercus rubra :: Red Oak': 264,
 'Eucalyptus robusta :: Swamp mahogany': 265,
 "Cotinus coggygria 'Royal Purple' :: Smoke tree": 266,
 'Quercus palustris :: Pin Oak': 267,
 'Thuja plicata :: Western Red Cedar': 268,
 'Melaleuca leucadendron :: Weeping Tea Tree': 269,
 'Rhamnus californica :: Coffeeberry Tree': 270,
 'Acacia cyclops :: Cyclops wattle': 271,
 'Abutilon hybridum :: Flowering maple': 272,
 'Salix babylonica :: Weeping Willow': 273,
 "Prunus x yedoensis 'Akebono' :: Daybreak Yoshino Cherry": 274,
 'Liquidambar orientalis :: Oriental Sweet Gum': 275,
 'Dracaena draco :: Dragon Tree': 276,
 'Rhaphiolepis indica :: India Hawthorn': 277,
 'Nyssa sylvatica :: Tupelo: Sour Gum': 278,
 'patanus racemosa ::': 279,
 'Juglans hindsii :: Walnut: Black (n.calif)': 280,
 'Cedrela fissilis :: Argentine cedar': 281,
 "Robinia x ambigua 'Idahoensis' :: Idaho Pink Locust": 282,
 'Eucalyptus pulverulenta :: Silver Mountain Gum Tree': 283,
 'Lagerstroemia spp :: Crape myrtle species': 284,
 'Eucalyptus lehmanni :: Bushy Yate': 285,
 'Privet ::': 286,
 'Picea Spp :: Spruce Spp': 287,
 'Heteromeles arbutifolia :: Toyon': 288,
 "Leptospermum scoparium 'Ruby Glow' :: New Zealand Ruby Glow Tea Tree": 289,
 'Persea borbonia :: False Avocado': 290,
 "Ginkgo biloba 'Fairmont' :: Fairmont Ginkgo": 291,
 "Eucalyptus leucoxylon mac 'Rosea' :: Yellow Gum": 292,
 'Hymenosporum flavum :: Sweet Shade': 293,
 'Grevillea robusta :: Silk Oak Tree': 294,
 "Pyracantha  'Santa Cruz' :: Firethorn Tree 'Santa Cruz'": 295,
 'Fraxinus x Moraine :: Moraine Ash': 296,
 'Araucaria araucana :: Monkey puzzle': 297,
 'Acer macrophyllum :: Big Leaf Maple': 298,
 'Prunus persica :: Peach': 299,
 'Ficus macrophylla :: Morton Bay Fig': 300,
 'Araucaria columnaris :: Coral reef araucaria': 301,
 'Cryptomeria japonica :: Japanese Cryptomeria': 302,
 'Betula nigra :: River Birch': 303,
 'Quillaja saponaria :: Chilean Soapbark': 304,
 'Corymbia maculata :: Spotted Gum': 305,
 'Fraxinus americana :: American Ash': 306,
 'Yucca elephantipes :: Giant Yucca': 307,
 'Prunus ilicifoia :: Holly-leaved Cherry': 308,
 "Ulmus 'Frontier' :: Frontier Elm": 309,
 'Ficus rubiginosa :: Port Jackson Fig': 310,
 "Pyrus calleryana 'New Bradford' :: New Bradford Pear": 311,
 'Ligustrum ovalifolium :: California privet': 312,
 'Sophora japonica :: Japanese Pagoda': 313,
 'Malus floribunda :: Showy Crab Apple: Japanese Crabapple': 314,
 'Populus spp :: Poplar Spp': 315,
 'Pyrus spp :: Pear Tree': 316,
 'Ficus carica :: Edible Fig': 317,
 'Chiranthodendron pentadactylon :: Monkey Hand Tree': 318,
 'Persea indica :: Indian Bay': 319,
 'Cycas revoluta :: Sago palm': 320,
 'Juglans nigra :: Eastern black walnut': 321,
 'Fraxinus oxycarpa :: Ash': 322,
 'Prunus armeniaca :: Apricot': 323,
 'Ailanthus altissima :: Tree Of Heaven': 324,
 "Platanus x hispanica 'Bloodgood' :: Bloodgood London Plane": 325,
 'Azara microphylla :: Little-Leaf Azara': 326,
 "Ulmus parvifolia 'Sempervirens' :: Weeping Chinese Elm": 327,
 "Cercis canadensis 'Forest Pansy' :: Forest Pansy Redbud": 328,
 "Liquidambar styraciflua 'Palo Alto' :: Palo Alto Sweet Gum": 329,
 'Eucalyptus melliodora :: Yellow Box': 330,
 'Chitalpa tashkentensis ::': 331,
 "Callistemon 'Jeffers' :: Purple bottlebrush": 332,
 'Albizia distachya :: Plume Albizia Tree': 333,
 "Acacia baileyana 'Purpurea' :: Purple-leaf Acacia": 334,
 'Howea forsteriana :: Kentia Palm': 335,
 'Eucalyptus torquata :: Coral Gum': 336,
 'Cupressus arizonica :: Arizona Cypress': 337,
 'Bambusa spp :: Bamboo Species': 338,
 "Arbutus unedo 'Compacta' :: Dwarf strawberry tree": 339,
 'Populus tremuloides :: Quaking aspen': 340,
 "Citrus × meyeri 'Improved' :: Improved Meyer Lemon": 341,
 'Sapium sebiferum :: Chinese Tallow': 342,
 "Gleditsia triacanthos 'Shademaster' :: Honey Locust 'Shademaster'": 343,
 'Salix discolor :: Pussy Willow': 344,
 'Vitex lucens :: Puriri tree': 345,
 'Fraxinus angustifolia :: Narrow-leaved Ash': 346,
 'Brachychiton discolor ::': 347,
 'Eucalyptus saligna :: Sidney Blue Gum': 348,
 "Pyrus calleryana 'Redspire' :: Ornamental Pear Tree 'Redspire'": 349,
 'Solanum rantonnetti ::': 350,
 'Robinia x ambigua :: Locust': 351,
 'Eucalyptus cinerea :: Ash-colored Eucalyptus': 352,
 'Juniperus californica :: California juniper': 353,
 "Sophora japonica 'Regent' :: Regent Scholar Tree": 354,
 'Salix lasiolepis :: Arroyo willow': 355,
 'Cussonia spicata :: Cabbage tree': 356,
 'Meryta sinclairii :: Puka or puke tree': 357,
 'Fagus sylvatica :: European Beech': 358,
 'Podocarpus henkelii :: Long-Leafed Yellow-Wood': 359,
 'Quercus lobata :: Valley Oak': 360,
 'Quercus coccinea :: Scarlet Oak': 361,
 "Pyrus calleryana 'Capital' :: Ornamental Pear Tree 'Capital'": 362,
 'Cedrus libani :: Lebanon cedar': 363,
 'Chamaecyparis obtusa :: Hinoki cypress': 364,
 'Corymbia citriodora :: Lemon Scented Gum': 365,
 'Prunus lyonii :: Catalina Cherry': 366,
 "Crataegus laevigata 'Paul's Scarlet' :: Paul's Scarlet Hawthorn": 367,
 'Acca sellowiana :: Pineapple Guava Tree': 368,
 'Prunus spp :: Flowering Plum': 369,
 "Quercus frainetto 'Trump' :: Hungarian Oak": 370,
 'Chorisia speciosa :: Silk Floss Tree': 371,
 'Brahea armata :: Blue hesper palm': 372,
 'Phoenix spp :: Date palm (species unknown)': 373,
 "Liquidambar styraciflua 'Festival' :: Festival Sweet Gum": 374,
 "Arctostaphylos manzanita 'Dr Hurd' :: Dr. Hurd Manzanita": 375,
 'Archontophoenix myolensis :: Myola palm': 376,
 'Acacia vestita :: Hairy wattle': 377,
 'Juglans regia :: Walnut: English': 378,
 'Jubaea chilensis :: Chilean Wine Palm': 379,
 'Fraxinus ornus :: Flowering Ash': 380,
 'Corymbia calophylla ::': 381,
 'Pinus coulteri :: Coulter pine': 382,
 "Ginkgo biloba 'Saratoga' :: Ginkgo: Saratoga": 383,
 "Ficus microcarpa 'Retusa' :: Pot Belly Fig": 384,
 'Eucalyptus macarthuri :: Camden Wollybutt': 385,
 'Musa spp :: Banana': 386,
 'Eucalyptus longifolia :: Woollybutt': 387,
 'Diospyros kaki :: Persimmon': 388,
 'Eucalyptus viminalis :: Manna Gum': 389,
 'Dicksonia antarctica :: Soft Tree Fern': 390,
 'Schefflera species :: Umbrella tree': 391,
 "Leucadendron 'Gold Strike' :: Yellow conebush": 392,
 'Tilia americana :: Basswood Linden': 393,
 'Rhopalostylis baueri :: Palm': 394,
 'Acer tegmentosum :: Manchurian snakebark maple': 395,
 'Taxodium mucronatum :: Montezuma Cypress': 396,
 'Pinus muricata :: Bishop Pine': 397,
 "Prunus serrulata 'Royal Burgundy' :: Royal Burgundy Flowering Cherry Tree": 398,
 'Metasequoia glyplostroboides :: Dawn Redwood': 399,
 'Ulmus procera :: English Elm': 400,
 'Styphnolobium japonicum :: Chinese scholar tree': 401,
 'Erythrina caffra :: Coral tree': 402,
 'Cupressus spp :: Cypress species': 403,
 "Prunus serrulata 'Mt. Fuji' :: Mt. Fuji Cherry Tree": 404,
 'x Chiranthofremontia lenzii :: Hybrid Monkey Hand Tree': 405,
 'Rhus typhina :: Staghorn sumac': 406,
 'Quercus engelmannii :: Engelmann oak': 407,
 'Eucalyptus rudis :: Swamp Gum: Flooded Gum': 408,
 'Dypsis cabadae :: Cabada palm': 409,
 'Casurina stricta :: Beefwood: Drooping She-Oak': 410,
 'Prunus caroliniana :: Carolina Cherry Laurel': 411,
 'Cercocarpus betuloides :: Mountain mahogany': 412,

In [192]:
addresses = addresses.replace({'qSpecies': species_dict})

In [193]:
addresses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174962 entries, 121399 to 15238
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   qAddress   174962 non-null  string
 1   qSpecies   174962 non-null  int64
 2   SiteOrder  174962 non-null  uint16
dtypes: int64(1), string(1), uint16(1)
memory usage: 4.3 MB

In [198]:
addresses = addresses.astype({'qSpecies': 'uint16'})
addresses.qAddress = addresses.qAddress.str.lower()
addresses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174962 entries, 121399 to 15238
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   qAddress   174962 non-null  string
 1   qSpecies   174962 non-null  uint16
 2   SiteOrder  174962 non-null  uint16
dtypes: string(1), uint16(2)
memory usage: 3.3 MB

In [74]:
import timeit

In [88]:
%%timeit
species_key = addresses.loc[addresses.qAddress.str.lower() == '1470 valencia st', 'qSpecies'].item()
species.iloc[species_key].qSpecies

47.9 ms ± 2.35 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [199]:
import sqlite3
with sqlite3.connect('SF_trees.db') as con:
    addresses.to_sql('addresses', con, if_exists='replace')
    species.to_sql('species', con, if_exists='replace')

In [214]:
%%timeit
query = """
SELECT qSpecies
FROM addresses
WHERE qAddress = '1470 valencia st'"""

def species_query(key):
    new_query = f"""
    SELECT qSpecies
    FROM species
    WHERE "index" = {key}"""
    return new_query

with sqlite3.connect('SF_trees.db') as con:
    a = pd.read_sql(query, con).qSpecies
    if a.size > 0:
        a = a.item()
        specie = pd.read_sql(species_query(a), con)
        specie.qSpecies.item()
    else:
        pass

21.8 ms ± 1.49 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [65]:
split_streets = addresses.qAddress.str.split(' ', n=1, expand=True).rename({0: 'street_number', 1: 'street_name'}, axis=1)
split_addresses = addresses.join(split_streets).loc[:,['street_number', 'street_name', 'qSpecies', 'SiteOrder']]
split_addresses.street_name = split_addresses.street_name.str.lower()
split_addresses

,street_number,street_name,qSpecies,SiteOrder
TreeID,,,,
121399,349X,cargo way,Corymbia ficifolia :: Red Flowering Gum,1
251210,1170,ingalls st,Eucalyptus polyanthemos :: Silver Dollar Eucal...,2
255131,401X,brotherhood way,Corymbia ficifolia :: Red Flowering Gum,9
255229,300X,goettingen st,Lophostemon confertus :: Brisbane Box,4
251438,2501X,santiago st,Cupressus macrocarpa :: Monterey Cypress,1
...,...,...,...,...
231,2975,19th ave,Platanus x hispanica :: Sycamore: London Plane,2
92652,2201,baker st,Azara microphylla :: Little-Leaf Azara,18
108942,115B,prospect ave,Arbutus 'Marina' :: Hybrid Strawberry Tree,1
143411,1244,market st,Platanus x hispanica :: Sycamore: London Plane,1
15238,1339,mission st,Lophostemon confertus :: Brisbane Box,1

In [115]:
split_addresses.street_number = split_streets.street_number.str.extract(r"(^[0-9]+)", expand=False)

In [94]:
extracted.loc[extracted.isna()]

TreeID
50817    <NA>
Name: street_number, dtype: string

In [96]:
split_streets

       street_number      street_name
TreeID
121399           349        Cargo Way
251210          1170       Ingalls St
255131           401  Brotherhood Way
255229           300    Goettingen St
251438          2501      Santiago St
...              ...              ...
231             2975         19th Ave
92652           2201         Baker St
108942           115     Prospect Ave
143411          1244        MARKET ST
15238           1339       Mission St

[174480 rows x 2 columns]

In [97]:
addresses_without_letters = split_streets.street_number.loc[~split_streets.street_number.str.contains(r'[0-9]$')].str[:-1]

In [98]:
addresses_without_letters

Series([], Name: street_number, dtype: string)

In [62]:
split_streets.update(addresses_without_letters)

C:\Users\Prog\AppData\Local\Temp\ipykernel_15700\3627194058.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  split_streets.update(addresses_without_letters)

In [63]:
split_streets.head()

       street_number      street_name
TreeID
121399           349        Cargo Way
251210          1170       Ingalls St
255131           401  Brotherhood Way
255229           300    Goettingen St
251438          2501      Santiago St

In [114]:
split_streets.street_number.loc[~split_streets.street_number.str.contains(r'[0-9]$')]

Series([], Name: street_number, dtype: string)

In [112]:
split_addresses.street_name = split_addresses.street_name.dropna().str.replace(r'\b(revised|\(revised\))\b', '').str.strip()
split_addresses.loc[split_addresses.street_name == street_names[944], ['street_number', 'qSpecies', 'SiteOrder']]

C:\Users\Prog\AppData\Local\Temp\ipykernel_15700\3410652132.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  split_addresses.street_name = split_addresses.street_name.dropna().str.replace(r'\b(revised|\(revised\))\b', '').str.strip()

,street_number,qSpecies,SiteOrder
TreeID,,,
178621,2000,Platanus x hispanica :: Sycamore: London Plane,2
852,366,Acer rubrum :: Red Maple,1
180087,2100x,Tristaniopsis laurina :: Swamp Myrtle,10
265495,2700,Ligustrum lucidum :: Glossy Privet,1
253080,2849X,Eriobotrya deflexa :: Bronze Loquat,13
...,...,...,...
180073,1900x,Tristaniopsis laurina :: Swamp Myrtle,45
122857,3000X,Tristaniopsis laurina :: Swamp Myrtle,4
1073,2118,Platanus x hispanica :: Sycamore: London Plane,1
180498,2059,Ulmus americana :: American Elm,1
122893,2701X,Tristaniopsis laurina 'Elegant' :: Small-leaf ...,22

In [118]:
split_addresses['qAddress'] = split_addresses.street_number.str.cat(split_addresses.street_name, ' ')
split_addresses

,street_number,street_name,qSpecies,SiteOrder,qAddress
TreeID,,,,,
121399,349,cargo way,Corymbia ficifolia :: Red Flowering Gum,1,349 cargo way
251210,1170,ingalls st,Eucalyptus polyanthemos :: Silver Dollar Eucal...,2,1170 ingalls st
255131,401,brotherhood way,Corymbia ficifolia :: Red Flowering Gum,9,401 brotherhood way
255229,300,goettingen st,Lophostemon confertus :: Brisbane Box,4,300 goettingen st
251438,2501,santiago st,Cupressus macrocarpa :: Monterey Cypress,1,2501 santiago st
...,...,...,...,...,...
231,2975,19th ave,Platanus x hispanica :: Sycamore: London Plane,2,2975 19th ave
92652,2201,baker st,Azara microphylla :: Little-Leaf Azara,18,2201 baker st
108942,115,prospect ave,Arbutus 'Marina' :: Hybrid Strawberry Tree,1,115 prospect ave
143411,1244,market st,Platanus x hispanica :: Sycamore: London Plane,1,1244 market st
15238,1339,mission st,Lophostemon confertus :: Brisbane Box,1,1339 mission st

In [106]:
for i, street_name in enumerate(street_names):
    if street_name.find('revised') != -1:
        print(street_name)

In [224]:
import json
street_name_list = street_names.tolist()
with open('street_names.json', 'w') as fp:
    json.dump(street_name_list, fp)

In [226]:
%%timeit
with open('street_names.json', 'r') as fp:
    json.load(fp)

482 µs ± 12.4 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [206]:
with sqlite3.connect('SF_trees_by_street.db') as con:
    for street_name in street_names:
        street_table = split_addresses.loc[
            split_addresses.street_name == street_name, ['street_number', 'qSpecies', 'SiteOrder']]
        if not street_table.empty:
            street_table.to_sql(street_name, con, if_exists='replace')

In [210]:
with sqlite3.connect('SF_trees_by_street.db') as con:
    species.to_sql('species', con, if_exists='replace')

In [212]:
%%timeit
query = """
SELECT qSpecies
FROM "valencia st"
WHERE street_number = 1470"""

def species_query(key):
    new_query = f"""
    SELECT qSpecies
    FROM species
    WHERE "index" = {key}"""
    return new_query

with sqlite3.connect('SF_trees_by_street.db') as con:
    a = pd.read_sql(query, con).qSpecies
    if a.size > 0:
        a = a.item()
        specie = pd.read_sql(species_query(a), con)
        specie.qSpecies.item()
    else:
        pass

16.8 ms ± 1.57 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [15]:
addresses.loc[addresses.qAddress.str.contains('X')]

,qSpecies,qAddress,SiteOrder,qSiteInfo
TreeID,,,,
121399,Corymbia ficifolia :: Red Flowering Gum,349X Cargo Way,1,Sidewalk: Curb side : Cutout
255131,Corymbia ficifolia :: Red Flowering Gum,401X Brotherhood Way,9,Sidewalk: Property side : Yard
255229,Lophostemon confertus :: Brisbane Box,300X Goettingen St,4,Sidewalk: Curb side : Cutout
251438,Cupressus macrocarpa :: Monterey Cypress,2501X Santiago St,1,Median : Yard
20353,Acacia decurrens :: Acacia: Silver Wattle,262X Sunset Blvd,3,Sidewalk: Curb side : Cutout
...,...,...,...,...
99678,Ligustrum lucidum :: Glossy Privet,1250X Shrader St,9,Sidewalk: Curb side : Cutout
109994,Ligustrum lucidum :: Glossy Privet,501X Shotwell St,11,Sidewalk: Curb side : Cutout
97823,Prunus serrulata :: Ornamental Cherry,595X Liberty St,2,Sidewalk: Curb side : Cutout
21106,Cupressus macrocarpa :: Monterey Cypress,2201X Sunset Blvd,10,Sidewalk: Curb side : Cutout
20242,Ficus nitida :: Laurel Fig,1801X Steiner St,4,Sidewalk: Curb side : Cutout