In [2]:
import pandas as pd
import os

path = os.path.join('..', 'dev', 'db_creation', 'table_making.csv')
df = pd.read_csv(path, index_col=0)

In [3]:
df[['street_number', 'street_name']] = df.qAddress.str.split(' ', n=1, expand=True)
df = df[['street_number', 'street_name', 'qSpecies']]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174480 entries, 121399 to 15238
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   street_number  174478 non-null  object
 1   street_name    174478 non-null  object
 2   qSpecies       174480 non-null  int64
dtypes: int64(1), object(2)
memory usage: 5.3+ MB

In [5]:
df = df.dropna().astype({'street_number': 'int64'}).sort_values(['street_name', 'street_number'])

In [19]:
df.loc[df.street_name == 'san jose ave']

        street_number   street_name  qSpecies
TreeID
39786              50  san jose ave        31
39791              50  san jose ave        35
39780              50  san jose ave        31
39789              50  san jose ave        31
39790              50  san jose ave       275
...               ...           ...       ...
93576            2998  san jose ave        30
93577            2998  san jose ave        80
93574            2998  san jose ave        80
254876           3100  san jose ave         2
254878           3156  san jose ave         2

[1124 rows x 3 columns]

In [38]:
# {street_name: (street_number, qSpecies)}
street = df.loc[df.street_name == 'valencia st'][['street_number', 'qSpecies']]
tree_list = [None] * len(street)
for i, row in enumerate(street.itertuples()):
    street_number = row.street_number
    qSpecies = row.qSpecies
    tree_list[i] = (street_number, qSpecies)

tree_list

[(3, 334),
 (4, 2),
 (4, 2),
 (8, 2),
 (12, 2),
 (12, 2),
 (12, 2),
 (14, 2),
 (14, 2),
 (16, 2),
 (75, 96),
 (75, 96),
 (95, 96),
 (95, 96),
 (98, 2),
 (98, 2),
 (98, 2),
 (98, 2),
 (98, 2),
 (100, 25),
 (101, 26),
 (101, 26),
 (101, 2),
 (101, 26),
 (101, 26),
 (101, 2),
 (101, 2),
 (101, 26),
 (101, 2),
 (101, 26),
 (101, 2),
 (111, 9),
 (115, 9),
 (115, 9),
 (135, 26),
 (135, 99),
 (145, 9),
 (145, 9),
 (147, 9),
 (151, 176),
 (151, 9),
 (155, 9),
 (155, 9),
 (170, 9),
 (170, 9),
 (174, 176),
 (174, 2),
 (175, 9),
 (175, 9),
 (175, 176),
 (175, 9),
 (175, 9),
 (175, 25),
 (175, 9),
 (175, 9),
 (175, 9),
 (175, 9),
 (175, 9),
 (177, 9),
 (177, 9),
 (178, 176),
 (198, 2),
 (199, 2),
 (201, 47),
 (201, 96),
 (201, 47),
 (222, 2),
 (224, 2),
 (224, 2),
 (245, 2),
 (245, 2),
 (245, 2),
 (245, 2),
 (245, 2),
 (250, 166),
 (250, 9),
 (250, 9),
 (250, 9),
 (250, 9),
 (250, 166),
 (250, 166),
 (250, 166),
 (250, 9),
 (250, 166),
 (250, 9),
 (250, 166),
 (250, 2),
 (250, 166),
 (250, 166),
 (250, 9),
 (250, 9),
 (250, 166),
 (250, 166),
 (250, 166),
 (260, 2),
 (270, 279),
 (270, 2),
 (270, 2),
 (270, 2),
 (270, 2),
 (270, 293),
 (270, 2),
 (270, 2),
 (275, 99),
 (275, 99),
 (275, 99),
 (275, 99),
 (286, 73),
 (286, 73),
 (290, 94),
 (290, 94),
 (299, 2),
 (299, 2),
 (299, 2),
 (299, 2),
 (312, 2),
 (321, 61),
 (321, 61),
 (333, 61),
 (333, 61),
 (333, 61),
 (333, 61),
 (333, 61),
 (335, 61),
 (335, 61),
 (351, 9),
 (351, 2),
 (360, 9),
 (360, 2),
 (360, 99),
 (360, 99),
 (360, 9),
 (360, 99),
 (360, 99),
 (360, 99),
 (360, 2),
 (360, 99),
 (360, 99),
 (360, 99),
 (360, 99),
 (360, 2),
 (360, 99),
 (360, 2),
 (360, 2),
 (360, 99),
 (360, 99),
 (360, 99),
 (360, 99),
 (365, 2),
 (365, 2),
 (375, 2),
 (381, 2),
 (383, 2),
 (383, 2),
 (383, 2),
 (389, 2),
 (391, 2),
 (400, 2),
 (400, 2),
 (405, 2),
 (405, 2),
 (411, 2),
 (412, 2),
 (412, 2),
 (413, 2),
 (418, 9),
 (422, 2),
 (435, 9),
 (435, 2),
 (435, 189),
 (440, 9),
 (440, 9),
 (440, 9),
 (440, 9),
 (440, 9),
 (440, 9),
 (443, 9),
 (445, 9),
 (445, 9),
 (445, 9),
 (446, 189),
 (455, 9),
 (455, 9),
 (455, 189),
 (460, 9),
 (460, 9),
 (460, 189),
 (460, 189),
 (460, 9),
 (461, 9),
 (461, 189),
 (474, 189),
 (474, 9),
 (474, 9),
 (474, 2),
 (474, 9),
 (475, 9),
 (475, 189),
 (475, 189),
 (475, 9),
 (477, 2),
 (477, 2),
 (477, 2),
 (480, 9),
 (480, 2),
 (480, 9),
 (480, 9),
 (495, 2),
 (495, 2),
 (495, 2),
 (498, 2),
 (498, 2),
 (502, 2),
 (502, 189),
 (504, 263),
 (508, 2),
 (510, 263),
 (511, 2),
 (511, 2),
 (513, 2),
 (513, 2),
 (515, 189),
 (515, 263),
 (520, 189),
 (521, 263),
 (521, 189),
 (522, 263),
 (522, 263),
 (523, 189),
 (524, 189),
 (525, 263),
 (528, 263),
 (529, 189),
 (533, 263),
 (535, 9),
 (538, 263),
 (538, 189),
 (540, 189),
 (540, 263),
 (540, 189),
 (541, 189),
 (541, 9),
 (542, 263),
 (544, 189),
 (545, 2),
 (546, 263),
 (548, 189),
 (548, 189),
 (550, 263),
 (550, 263),
 (557, 189),
 (557, 9),
 (559, 189),
 (560, 189),
 (560, 189),
 (560, 263),
 (560, 263),
 (560, 189),
 (560, 263),
 (561, 9),
 (561, 9),
 (561, 189),
 (567, 189),
 (567, 189),
 (567, 189),
 (569, 9),
 (572, 263),
 (573, 9),
 (573, 9),
 (579, 9),
 (580, 189),
 (580, 263),
 (580, 189),
 (580, 189),
 (581, 189),
 (582, 263),
 (584, 263),
 (590, 2),
 (593, 2),
 (593, 2),
 (594, 2),
 (599, 2),
 (599, 2),
 (601, 2),
 (601, 2),
 (601, 189),
 (601, 2),
 (610, 2),
 (610, 2),
 (620, 263),
 (620, 2),
 (620, 2),
 (620, 2),
 (620, 2),
 (621, 2),
 (621, 2),
 (621, 9),
 (621, 2),
 (623, 189),
 (623, 9),
 (623, 9),
 (623, 189),
 (623, 189),
 (623, 2),
 (623, 9),
 (623, 9),
 (630, 2),
 (630, 2),
 (630, 2),
 (630, 2),
 (630, 2),
 (630, 2),
 (630, 2),
 (630, 2),
 (630, 2),
 (647, 2),
 (657, 9),
 (657, 189),
 (661, 9),
 (661, 9),
 (661, 9),
 (661, 2),
 (663, 189),
 (663, 2),
 (670, 2),
 (670, 2),
 (670, 2),
 (670, 2),
 (675, 2),
 (675, 9),
 (675, 9),
 (677, 2),
 (677, 189),
 (677, 2),
 (677, 2),
 (677, 189),
 (680, 189),
 (680, 189),
 (686, 263),
 (692, 263),
 (696, 2),
 (696, 294),
 (696, 294),
 (699, 2),
 (699, 2),
 (700, 2),
 (700, 2),
 (700, 2),
 (700, 2),
 (700, 2),
 (700, 2),
 (701, 2),
 (701, 2),
 (701, 2),
 (701, 2),
 (714, 263),
 (715, 9),
 (715, 99),
 (720, 9),
 (720, 263),
 (721, 9),
 (721, 99),
 (721, 99),
 (721, 9),
 (727, 9),
 (727, 9),
 (727, 9),
 (727, 9),
 (727, 9),
 (727, 9),
 (736, 2),
 (736, 2),
 (736, 2),
 (736, 2),
 (739, 2),
 (740, 99),
 (740, 263),
 (741, 9),
 (741, 2),
 (742, 263),
 (748, 9),
 (748, 263),
 (751, 2),
 (751, 2),
 (757, 2),
 (757, 2),
 (758, 99),
 (758, 263),
 (762, 263),
 (766, 99),
 (766, 263),
 (766, 263),
 (767, 9),
 (771, 9),
 (775, 9),
 (777, 9),
 (777, 9),
 (777, 23),
 (777, 9),
 (777, 99),
 (777, 9),
 (777, 9),
 (780, 99),
 (780, 263),
 (786, 263),
 (786, 2),
 (786, 2),
 (786, 2),
 (789, 2),
 (789, 2),
 (790, 99),
 (790, 2),
 (790, 2),
 (790, 2),
 (793, 2),
 (795, 2),
 (797, 2),
 (824, 2),
 (850, 242),
 (850, 242),
 (850, 242),
 (867, 2),
 (871, 2),
 (873, 2),
 (873, 2),
 (877, 2),
 (877, 2),
 (883, 9),
 (883, 9),
 (883, 9),
 (883, 9),
 (883, 9),
 (899, 99),
 (899, 99),
 (899, 99),
 (899, 99),
 (899, 99),
 (909, 2),
 (909, 2),
 (910, 2),
 (914, 2),
 (914, 2),
 (920, 2),
 (922, 2),
 (923, 2),
 (924, 2),
 (929, 334),
 (929, 10),
 (933, 10),
 (934, 2),
 (937, 10),
 (937, 10),
 (938, 2),
 (939, 36),
 (939, 36),
 (939, 36),
 (939, 36),
 (956, 2),
 (958, 2),
 (959, 2),
 (963, 2),
 (974, 2),
 (981, 9),
 (984, 84),
 (985, 9),
 (985, 58),
 (987, 79),
 (987, 79),
 (999, 4),
 (1000, 30),
 (1001, 293),
 (1007, 2),
 (1009, 94),
 (1012, 30),
 (1014, 30),
 (1017, 2),
 (1017, 2),
 (1037, 2),
 (1050, 2),
 (1050, 2),
 (1057, 2),
 (1058, 2),
 (1062, 26),
 (1062, 26),
 (1062, 48),
 (1065, 127),
 (1074, 79),
 (1081, 127),
 (1090, 2),
 (1098, 2),
 (1101, 85),
 (1120, 2),
 (1120, 2),
 (1125, 2),
 (1125, 2),
 (1125, 28),
 (1125, 2),
 (1130, 2),
 (1130, 2),
 (1132, 2),
 (1146, 2),
 (1156, 101),
 (1156, 101),
 (1156, 101),
 (1156, 101),
 (1157, 2),
 (1171, 2),
 (1172, 2),
 (1175, 2),
 (1185, 64),
 (1190, 2),
 (1190, 2),
 (1190, 2),
 (1190, 2),
 (1195, 2),
 (1198, 2),
 (1198, 2),
 (1198, 2),
 (1198, 2),
 (1198, 2),
 (1198, 2),
 (1198, 2),
 (1199, 21),
 (1220, 2),
 (1240, 2),
 (1240, 2),
 (1243, 2),
 (1243, 2),
 (1243, 2),
 (1243, 67),
 (1243, 2),
 (1243, 2),
 (1252, 2),
 (1278, 2),
 (1298, 2),
 (1299, 2),
 (1299, 2),
 (1299, 2),
 (1299, 2),
 (1299, 2),
 (1304, 18),
 (1310, 2),
 (1320, 2),
 (1324, 2),
 (1328, 18),
 (1341, 2),
 (1358, 18),
 (1358, 18),
 (1360, 28),
 (1360, 6),
 (1369, 2),
 (1369, 2),
 (1369, 27),
 (1369, 2),
 (1369, 27),
 (1370, 28),
 (1370, 28),
 (1370, 28),
 (1380, 101),
 (1384, 73),
 (1384, 101),
 (1384, 101),
 (1384, 73),
 (1384, 73),
 (1384, 73),
 (1387, 2),
 (1387, 58),
 (1387, 2),
 (1387, 58),
 (1387, 361),
 (1387, 2),
 (1387, 58),
 (1387, 2),
 (1387, 2),
 (1390, 101),
 (1390, 101),
 (1390, 101),
 (1406, 101),
 (1406, 101),
 (1406, 101),
 (1411, 2),
 (1417, 2),
 (1417, 4),
 (1417, 4),
 (1417, 4),
 (1417, 4),
 (1427, 2),
 (1429, 2),
 (1429, 59),
 (1432, 2),
 (1448, 2),
 (1449, 2),
 (1461, 2),
 (1465, 67),
 (1465, 67),
 (1465, 67),
 (1470, 2),
 (1476, 2),
 (1485, 2),
 (1489, 2),
 (1489, 2),
 (1495, 2),
 (1495, 2),
 (1497, 2),
 (1500, 30),
 (1500, 2),
 (1500, 2),
 (1500, 2),
 (1500, 67),
 (1500, 2),
 (1500, 30),
 (1500, 59),
 (1501, 2),
 (1501, 2),
 (1501, 2),
 (1551, 2),
 (1551, 2),
 (1551, 2),
 (1551, 2),
 (1580, 18),
 (1580, 18),
 (1580, 18),
 (1580, 18),
 (1580, 18),
 (1580, 18),
 (1580, 18),
 (1580, 18),
 (1580, 18),
 (1580, 2),
 (1580, 15),
 (1580, 18),
 (1580, 15),
 (1580, 18),
 (1580, 18),
 (1580, 300),
 (1601, 2),
 (1601, 2),
 (1601, 2),
 (1601, 2),
 (1640, 40),
 (1640, 40),
 (1640, 40),
 (1640, 40),
 (1640, 40),
 (1640, 40),
 (1650, 40),
 (1650, 40),
 (1699, 40),
 (1699, 40),
 (1699, 213),
 (1699, 213),
 (1699, 40),
 (1699, 213),
 (1699, 40),
 (1699, 213),
 (1699, 213),
 (1699, 213),
 (1699, 40),
 (1699, 40),
 (1699, 40),
 (1699, 40),
 (1699, 40),
 (1699, 40),
 (1699, 213),
 (1699, 213),
 (1699, 213)]

Making the tree dict

In [ ]:
street_names = df.street_name.unique().tolist()

tree_dict = dict()

for street_name in street_names:
    trees = df.loc[df.street_name == street_name][['street_number', 'qSpecies']]
    
    tree_list = [None] * len(trees)
    
    for i, row in enumerate(trees.itertuples()):
        street_number = row.street_number
        qSpecies = row.qSpecies
        tree_list[i] = (street_number, qSpecies)
        
    tree_dict.update({street_name: tree_list})

In [43]:
import sys
sys.getsizeof(tree_dict)/1000

73.816

In [131]:
len(tree_dict)

2030

Algorithm to find trees at address or adjacent address (within street_buffer)

In [173]:
%%timeit
street = tree_dict['valencia st']
trees =  list()
street_num = 600
search_nearby = False
street_buffer = 11

def bisect(street: list, street_num: int) -> list:
    length = len(street)
    middle = int(length / 2)
    
    # street buffer incase bisection lands on previous address
    if street[middle][0] < street_num - street_buffer:
         return bisect(street[middle:], street_num)
    elif street[middle][0] > street_num + street_buffer:
        return bisect(street[:middle+1], street_num)
    else:
        return street
    
street = bisect(street, street_num)


for i, address in enumerate(street):
    if address[0] >= street_num:
        if address[0] ==  street_num:
            trees.append(address)
        elif trees:
            break
        elif address[0] > street_num and address[0] < street_num + street_buffer:
            search_nearby = True
            next_address_start = i
            next_address = address[0]
            break

if search_nearby:
    for address in street[next_address_start:]:
        if address[0] == next_address:
            trees.append(address)
        else:
            break
            
    previous_address = street[next_address_start - 1][0]
    if previous_address > street_num - street_buffer: 
        for address in street[next_address_start + 1::-1]:
            if address[0] == previous_address:
                trees.append(address)
            elif address[0] < previous_address:
                break

trees

24.5 µs ± 3.22 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

Testing pickling

In [ ]:
test = pickle.dumps(tree_dict['valencia st'])

In [137]:
%%timeit
pickle.loads(test)

60.4 µs ± 10.5 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [182]:
import pickle
with open('tree_dict_test.pkl', 'wb') as fp:
    pickle.dump(tree_dict, fp)

In [185]:
%%timeit
with open('tree_dict_test.pkl', 'rb') as fp:
    test_dict = pickle.load(fp)

18.5 ms ± 66.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Splitting evens and odds

In [174]:
street_names = df.street_name.unique().tolist()

tree_dict = dict()

for street_name in street_names:
    trees = df.loc[df.street_name == street_name][['street_number', 'qSpecies']]
    
    odd_tree_list = list()
    even_tree_list = list()
    
    for row in trees.itertuples():
        street_number = row.street_number
        qSpecies = row.qSpecies
        if street_number % 2 == 1:
            odd_tree_list.append((street_number, qSpecies))
        else:
            even_tree_list.append((street_number, qSpecies))
        
    tree_dict.update({street_name: {'odd': odd_tree_list, 'even': even_tree_list}})

In [181]:
sys.getsizeof(tree_dict)/1000

73.816

In [186]:
%%timeit
street = tree_dict['valencia st']
trees =  list()
street_num = 600

if street_num % 2 == 1:
    street = street['odd']
else:
    street = street['even']

street_buffer = 11

def bisect(street: list, street_num: int) -> list:
    length = len(street)
    middle = int(length / 2)
    
    # street buffer incase bisection lands on previous address
    if street[middle][0] < street_num - street_buffer:
         return bisect(street[middle:], street_num)
    elif street[middle][0] > street_num + street_buffer:
        return bisect(street[:middle+1], street_num)
    else:
        return street
    
street = bisect(street, street_num)

search_nearby = False


for i, address in enumerate(street):
    if address[0] >= street_num:
        if address[0] ==  street_num:
            trees.append(address)
        elif trees:
            break
        elif address[0] > street_num and address[0] < street_num + street_buffer:
            search_nearby = True
            next_address_start = i
            next_address = address[0]
            break

if search_nearby:
    for address in street[next_address_start:]:
        if address[0] == next_address:
            trees.append(address)
        else:
            break
            
    previous_address = street[next_address_start - 1][0]
    if previous_address > street_num - street_buffer: 
        for address in street[next_address_start + 1::-1]:
            if address[0] == previous_address:
                trees.append(address)
            elif address[0] < previous_address:
                break

trees

6.05 µs ± 326 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

Creating pure dict / hash table

In [7]:
df.loc[df.street_name == 'valencia st']

        street_number  street_name  qSpecies
TreeID
23029               3  valencia st       334
228856              4  valencia st         2
22879               4  valencia st         2
22881               8  valencia st         2
22880              12  valencia st         2
...               ...          ...       ...
84888            1699  valencia st        40
84890            1699  valencia st        40
220535           1699  valencia st       213
220527           1699  valencia st       213
220534           1699  valencia st       213

[666 rows x 3 columns]

In [11]:
street_names = df.street_name.unique().tolist()

tree_dict = dict()

for street_name in street_names:
    street_trees = df.loc[df.street_name == street_name][['street_number', 'qSpecies']]
    tree_dict.update({street_name: {}})
    
    for row in street_trees.itertuples():
        
        if row.street_number in tree_dict[street_name]:
            tree_dict[street_name][row.street_number].append(row.qSpecies)
        else:
            tree_dict[street_name].update({row.street_number: [row.qSpecies]})

In [20]:
%%timeit
street = 'brotherhood way'
street_num = 900
address_buffer = 11

trees = {}

try:
    trees[street_num] = tree_dict[street][street_num]
except KeyError:
    max_street_num = street_num + address_buffer
    min_street_num = street_num - address_buffer
    original_street_num = street_num
    
    while street_num <= max_street_num:
        street_num = street_num + 2
        try:
            trees[street_num] = tree_dict[street][street_num]
            break
        except KeyError:
            pass
    while street_num >= min_street_num:
        street_num = street_num - 2
        try:
            trees[street_num] = tree_dict[street][street_num]
            break
        except KeyError:
            pass
trees

176 ns ± 2.27 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

Make species dict

In [21]:
path = os.path.join('..', 'dev', 'mapped_species.csv')
species_df = pd.read_csv(path, index_col=0)

In [22]:
species_df.head()

                                            qSpecies  urlPath
0            Corymbia ficifolia :: Red Flowering Gum      540
1  Eucalyptus polyanthemos :: Silver Dollar Eucal...      561
2              Lophostemon confertus :: Brisbane Box     1425
3           Cupressus macrocarpa :: Monterey Cypress      476
4                 Jacaranda mimosifolia :: Jacaranda      741

In [25]:
species_dict = species_df.to_dict('index')

In [27]:
sys.getsizeof(species_dict)/1000

18.52